.DS_Store
.needy_lock
bin
dist
needs

# doxygen
/docs
/doxygen-warnings.log

*.xcworkspace
xcuserdata/

# ci-tacklebox
.arcconfig
.configure/
/build
configure.tackle
dependencies
project-config.jam
test-reports
tests/scraps-tests.xcconfig
scraps.xcconfig
