#include "./scraps-tests.xcconfig"
#include "../lib/scraps.xcconfig"
#include "../dependencies/ci-tacklebox/gtest-xcode/gtest-xcode.xcconfig"
#include "../dependencies/ci-tacklebox/boost/boost.xcconfig"
#include "../dependencies/needs/needs.xcconfig"

dependency_ldflags =  $(gtest_ldflags) $(boost_ldflags) $(curl_ldflags) $(openssl_ldflags) "-lz"

OTHER_LDFLAGS = $(inherited) $(scraps_tests_ldflags) $(scraps_ldflags) $(dependency_ldflags)

HEADER_SEARCH_PATHS = $(inherited) $(gtest_header_search_paths)
